@model CoreFitness.Domain.MembershipPlans.MembershipPlanDto

     <div class="membership-container">
    <div class="membership-light-bg">
   
        <img src="~/images/hantlar-img.svg" alt="barbell icon" class="hantlar-img">
        
        <div class="membership-title">@Model.Title</div>

        <hr class="light-solid"></hr>

        <div class="membership-description">
            @Model.Description
        </div>

        @foreach (var feature in Model.Features)
        {
            <div class="membership-icon">
                <img src="~/images/checkbox-fill.svg" alt="checkbox icon" class="checkbox-fill-img">
                <span>@feature</span>
            </div>
        }

       <!-- <div class="membership-icon">
        <img src="~/images/checkbox-fill.svg" alt="checkbox icon" class="checkbox-fill-img">
        <span>High-energy group fitness classes</span>
    </div>

        <div class="membership-icon">
        <img src="~/images/checkbox-fill.svg" alt="checkbox icon" class="checkbox-fill-img">
        <span>Motivating & supportive environment</span>
    </div>-->

       <div class="membership-darkbox"> 
            <div class="membership-left"> 
                <div class="left-text">
                    <div class="membership-price">@Model.Price</div>
                    <div class="membership-monthly">@Model.Monthly</div>
                </div>
                <div class="membership-monthly-classes">* Monthly @Model.MonthlyClasses classes</div>
            </div>

            <div class="membership-right"> 
                <div class="Membership-btn">
                    <a asp-controller="Auth" asp-action="Register" class="green-btn">
                        Join Now
                        <img src="~/images/navbarknapp.svg" class="btn-icon" alt="">
                    </a>
                </div>
            </div>

            <div class="darkbox-bottom">
                <hr class="light-solid"></hr>
                <div class="membership-free-trial">Try Any Membership Free for @Model.FreeTrial Week</div>
            </div>
        </div>
    </div>
</div>